<div class="form-container">
  <div class="form-content">
    <h2 class="text-center">Log in</h2>
    <br/>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :email, required: true, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :password, required: true, placeholder: "Password", class: "form-control" %>
      </div>
      <div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <span class="pull-right">
          <%= link_to "Forgot Password", new_user_password_path %>
        </span>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
